@using Komponenty.Inputs
@using Komponenty.Basic
@using System.ComponentModel.DataAnnotations
@attribute [Route(Metadata.Pages.Test)]

<div style="height: 100%; display: grid; place-content: center;">
    <KAInputText @bind-Value="_model.Test" />
</div>

@code {
    Model _model = new();

    private class Model
    {
        [MaxLength(5)]
        public string Test { get; set; } = string.Empty;
    }
}
