/*
    These colors are imported from Tailwind CSS.
    Source: https://tailwindcss.com/docs/colors
*/

:root {
    --ka-red-50: oklch(0.971 0.013 17.38);
    --ka-red-100: oklch(0.936 0.032 17.717);
    --ka-red-200: oklch(0.885 0.062 18.334);
    --ka-red-300: oklch(0.808 0.114 19.571);
    --ka-red-400: oklch(0.704 0.191 22.216);
    --ka-red-500: oklch(0.637 0.237 25.331);
    --ka-red-600: oklch(0.577 0.245 27.325);
    --ka-red-700: oklch(0.505 0.213 27.518);
    --ka-red-800: oklch(0.444 0.177 26.899);
    --ka-red-900: oklch(0.396 0.141 25.723);
    --ka-red-950: oklch(0.258 0.092 26.042);
    --ka-orange-50: oklch(0.98 0.016 73.684);
    --ka-orange-100: oklch(0.954 0.038 75.164);
    --ka-orange-200: oklch(0.901 0.076 70.697);
    --ka-orange-300: oklch(0.837 0.128 66.29);
    --ka-orange-400: oklch(0.75 0.183 55.934);
    --ka-orange-500: oklch(0.705 0.213 47.604);
    --ka-orange-600: oklch(0.646 0.222 41.116);
    --ka-orange-700: oklch(0.553 0.195 38.402);
    --ka-orange-800: oklch(0.47 0.157 37.304);
    --ka-orange-900: oklch(0.408 0.123 38.172);
    --ka-orange-950: oklch(0.266 0.079 36.259);
    --ka-amber-50: oklch(0.987 0.022 95.277);
    --ka-amber-100: oklch(0.962 0.059 95.617);
    --ka-amber-200: oklch(0.924 0.12 95.746);
    --ka-amber-300: oklch(0.879 0.169 91.605);
    --ka-amber-400: oklch(0.828 0.189 84.429);
    --ka-amber-500: oklch(0.769 0.188 70.08);
    --ka-amber-600: oklch(0.666 0.179 58.318);
    --ka-amber-700: oklch(0.555 0.163 48.998);
    --ka-amber-800: oklch(0.473 0.137 46.201);
    --ka-amber-900: oklch(0.414 0.112 45.904);
    --ka-amber-950: oklch(0.279 0.077 45.635);
    --ka-yellow-50: oklch(0.987 0.026 102.212);
    --ka-yellow-100: oklch(0.973 0.071 103.193);
    --ka-yellow-200: oklch(0.945 0.129 101.54);
    --ka-yellow-300: oklch(0.905 0.182 98.111);
    --ka-yellow-400: oklch(0.852 0.199 91.936);
    --ka-yellow-500: oklch(0.795 0.184 86.047);
    --ka-yellow-600: oklch(0.681 0.162 75.834);
    --ka-yellow-700: oklch(0.554 0.135 66.442);
    --ka-yellow-800: oklch(0.476 0.114 61.907);
    --ka-yellow-900: oklch(0.421 0.095 57.708);
    --ka-yellow-950: oklch(0.286 0.066 53.813);
    --ka-lime-50: oklch(0.986 0.031 120.757);
    --ka-lime-100: oklch(0.967 0.067 122.328);
    --ka-lime-200: oklch(0.938 0.127 124.321);
    --ka-lime-300: oklch(0.897 0.196 126.665);
    --ka-lime-400: oklch(0.841 0.238 128.85);
    --ka-lime-500: oklch(0.768 0.233 130.85);
    --ka-lime-600: oklch(0.648 0.2 131.684);
    --ka-lime-700: oklch(0.532 0.157 131.589);
    --ka-lime-800: oklch(0.453 0.124 130.933);
    --ka-lime-900: oklch(0.405 0.101 131.063);
    --ka-lime-950: oklch(0.274 0.072 132.109);
    --ka-green-50: oklch(0.982 0.018 155.826);
    --ka-green-100: oklch(0.962 0.044 156.743);
    --ka-green-200: oklch(0.925 0.084 155.995);
    --ka-green-300: oklch(0.871 0.15 154.449);
    --ka-green-400: oklch(0.792 0.209 151.711);
    --ka-green-500: oklch(0.723 0.219 149.579);
    --ka-green-600: oklch(0.627 0.194 149.214);
    --ka-green-700: oklch(0.527 0.154 150.069);
    --ka-green-800: oklch(0.448 0.119 151.328);
    --ka-green-900: oklch(0.393 0.095 152.535);
    --ka-green-950: oklch(0.266 0.065 152.934);
    --ka-emerald-50: oklch(0.979 0.021 166.113);
    --ka-emerald-100: oklch(0.95 0.052 163.051);
    --ka-emerald-200: oklch(0.905 0.093 164.15);
    --ka-emerald-300: oklch(0.845 0.143 164.978);
    --ka-emerald-400: oklch(0.765 0.177 163.223);
    --ka-emerald-500: oklch(0.696 0.17 162.48);
    --ka-emerald-600: oklch(0.596 0.145 163.225);
    --ka-emerald-700: oklch(0.508 0.118 165.612);
    --ka-emerald-800: oklch(0.432 0.095 166.913);
    --ka-emerald-900: oklch(0.378 0.077 168.94);
    --ka-emerald-950: oklch(0.262 0.051 172.552);
    --ka-teal-50: oklch(0.984 0.014 180.72);
    --ka-teal-100: oklch(0.953 0.051 180.801);
    --ka-teal-200: oklch(0.91 0.096 180.426);
    --ka-teal-300: oklch(0.855 0.138 181.071);
    --ka-teal-400: oklch(0.777 0.152 181.912);
    --ka-teal-500: oklch(0.704 0.14 182.503);
    --ka-teal-600: oklch(0.6 0.118 184.704);
    --ka-teal-700: oklch(0.511 0.096 186.391);
    --ka-teal-800: oklch(0.437 0.078 188.216);
    --ka-teal-900: oklch(0.386 0.063 188.416);
    --ka-teal-950: oklch(0.277 0.046 192.524);
    --ka-cyan-50: oklch(0.984 0.019 200.873);
    --ka-cyan-100: oklch(0.956 0.045 203.388);
    --ka-cyan-200: oklch(0.917 0.08 205.041);
    --ka-cyan-300: oklch(0.865 0.127 207.078);
    --ka-cyan-400: oklch(0.789 0.154 211.53);
    --ka-cyan-500: oklch(0.715 0.143 215.221);
    --ka-cyan-600: oklch(0.609 0.126 221.723);
    --ka-cyan-700: oklch(0.52 0.105 223.128);
    --ka-cyan-800: oklch(0.45 0.085 224.283);
    --ka-cyan-900: oklch(0.398 0.07 227.392);
    --ka-cyan-950: oklch(0.302 0.056 229.695);
    --ka-sky-50: oklch(0.977 0.013 236.62);
    --ka-sky-100: oklch(0.951 0.026 236.824);
    --ka-sky-200: oklch(0.901 0.058 230.902);
    --ka-sky-300: oklch(0.828 0.111 230.318);
    --ka-sky-400: oklch(0.746 0.16 232.661);
    --ka-sky-500: oklch(0.685 0.169 237.323);
    --ka-sky-600: oklch(0.588 0.158 241.966);
    --ka-sky-700: oklch(0.5 0.134 242.749);
    --ka-sky-800: oklch(0.443 0.11 240.79);
    --ka-sky-900: oklch(0.391 0.09 240.876);
    --ka-sky-950: oklch(0.293 0.066 243.157);
    --ka-blue-50: oklch(0.97 0.014 254.604);
    --ka-blue-100: oklch(0.932 0.032 255.585);
    --ka-blue-200: oklch(0.882 0.059 254.128);
    --ka-blue-300: oklch(0.809 0.105 251.813);
    --ka-blue-400: oklch(0.707 0.165 254.624);
    --ka-blue-500: oklch(0.623 0.214 259.815);
    --ka-blue-600: oklch(0.546 0.245 262.881);
    --ka-blue-700: oklch(0.488 0.243 264.376);
    --ka-blue-800: oklch(0.424 0.199 265.638);
    --ka-blue-900: oklch(0.379 0.146 265.522);
    --ka-blue-950: oklch(0.282 0.091 267.935);
    --ka-indigo-50: oklch(0.962 0.018 272.314);
    --ka-indigo-100: oklch(0.93 0.034 272.788);
    --ka-indigo-200: oklch(0.87 0.065 274.039);
    --ka-indigo-300: oklch(0.785 0.115 274.713);
    --ka-indigo-400: oklch(0.673 0.182 276.935);
    --ka-indigo-500: oklch(0.585 0.233 277.117);
    --ka-indigo-600: oklch(0.511 0.262 276.966);
    --ka-indigo-700: oklch(0.457 0.24 277.023);
    --ka-indigo-800: oklch(0.398 0.195 277.366);
    --ka-indigo-900: oklch(0.359 0.144 278.697);
    --ka-indigo-950: oklch(0.257 0.09 281.288);
    --ka-violet-50: oklch(0.969 0.016 293.756);
    --ka-violet-100: oklch(0.943 0.029 294.588);
    --ka-violet-200: oklch(0.894 0.057 293.283);
    --ka-violet-300: oklch(0.811 0.111 293.571);
    --ka-violet-400: oklch(0.702 0.183 293.541);
    --ka-violet-500: oklch(0.606 0.25 292.717);
    --ka-violet-600: oklch(0.541 0.281 293.009);
    --ka-violet-700: oklch(0.491 0.27 292.581);
    --ka-violet-800: oklch(0.432 0.232 292.759);
    --ka-violet-900: oklch(0.38 0.189 293.745);
    --ka-violet-950: oklch(0.283 0.141 291.089);
    --ka-purple-50: oklch(0.977 0.014 308.299);
    --ka-purple-100: oklch(0.946 0.033 307.174);
    --ka-purple-200: oklch(0.902 0.063 306.703);
    --ka-purple-300: oklch(0.827 0.119 306.383);
    --ka-purple-400: oklch(0.714 0.203 305.504);
    --ka-purple-500: oklch(0.627 0.265 303.9);
    --ka-purple-600: oklch(0.558 0.288 302.321);
    --ka-purple-700: oklch(0.496 0.265 301.924);
    --ka-purple-800: oklch(0.438 0.218 303.724);
    --ka-purple-900: oklch(0.381 0.176 304.987);
    --ka-purple-950: oklch(0.291 0.149 302.717);
    --ka-fuchsia-50: oklch(0.977 0.017 320.058);
    --ka-fuchsia-100: oklch(0.952 0.037 318.852);
    --ka-fuchsia-200: oklch(0.903 0.076 319.62);
    --ka-fuchsia-300: oklch(0.833 0.145 321.434);
    --ka-fuchsia-400: oklch(0.74 0.238 322.16);
    --ka-fuchsia-500: oklch(0.667 0.295 322.15);
    --ka-fuchsia-600: oklch(0.591 0.293 322.896);
    --ka-fuchsia-700: oklch(0.518 0.253 323.949);
    --ka-fuchsia-800: oklch(0.452 0.211 324.591);
    --ka-fuchsia-900: oklch(0.401 0.17 325.612);
    --ka-fuchsia-950: oklch(0.293 0.136 325.661);
    --ka-pink-50: oklch(0.971 0.014 343.198);
    --ka-pink-100: oklch(0.948 0.028 342.258);
    --ka-pink-200: oklch(0.899 0.061 343.231);
    --ka-pink-300: oklch(0.823 0.12 346.018);
    --ka-pink-400: oklch(0.718 0.202 349.761);
    --ka-pink-500: oklch(0.656 0.241 354.308);
    --ka-pink-600: oklch(0.592 0.249 0.584);
    --ka-pink-700: oklch(0.525 0.223 3.958);
    --ka-pink-800: oklch(0.459 0.187 3.815);
    --ka-pink-900: oklch(0.408 0.153 2.432);
    --ka-pink-950: oklch(0.284 0.109 3.907);
    --ka-rose-50: oklch(0.969 0.015 12.422);
    --ka-rose-100: oklch(0.941 0.03 12.58);
    --ka-rose-200: oklch(0.892 0.058 10.001);
    --ka-rose-300: oklch(0.81 0.117 11.638);
    --ka-rose-400: oklch(0.712 0.194 13.428);
    --ka-rose-500: oklch(0.645 0.246 16.439);
    --ka-rose-600: oklch(0.586 0.253 17.585);
    --ka-rose-700: oklch(0.514 0.222 16.935);
    --ka-rose-800: oklch(0.455 0.188 13.697);
    --ka-rose-900: oklch(0.41 0.159 10.272);
    --ka-rose-950: oklch(0.271 0.105 12.094);
    --ka-slate-50: oklch(0.984 0.003 247.858);
    --ka-slate-100: oklch(0.968 0.007 247.896);
    --ka-slate-200: oklch(0.929 0.013 255.508);
    --ka-slate-300: oklch(0.869 0.022 252.894);
    --ka-slate-400: oklch(0.704 0.04 256.788);
    --ka-slate-500: oklch(0.554 0.046 257.417);
    --ka-slate-600: oklch(0.446 0.043 257.281);
    --ka-slate-700: oklch(0.372 0.044 257.287);
    --ka-slate-800: oklch(0.279 0.041 260.031);
    --ka-slate-900: oklch(0.208 0.042 265.755);
    --ka-slate-950: oklch(0.129 0.042 264.695);
    --ka-gray-50: oklch(0.985 0.002 247.839);
    --ka-gray-100: oklch(0.967 0.003 264.542);
    --ka-gray-200: oklch(0.928 0.006 264.531);
    --ka-gray-300: oklch(0.872 0.01 258.338);
    --ka-gray-400: oklch(0.707 0.022 261.325);
    --ka-gray-500: oklch(0.551 0.027 264.364);
    --ka-gray-600: oklch(0.446 0.03 256.802);
    --ka-gray-700: oklch(0.373 0.034 259.733);
    --ka-gray-800: oklch(0.278 0.033 256.848);
    --ka-gray-900: oklch(0.21 0.034 264.665);
    --ka-gray-950: oklch(0.13 0.028 261.692);
    --ka-zinc-50: oklch(0.985 0 0);
    --ka-zinc-100: oklch(0.967 0.001 286.375);
    --ka-zinc-200: oklch(0.92 0.004 286.32);
    --ka-zinc-300: oklch(0.871 0.006 286.286);
    --ka-zinc-400: oklch(0.705 0.015 286.067);
    --ka-zinc-500: oklch(0.552 0.016 285.938);
    --ka-zinc-600: oklch(0.442 0.017 285.786);
    --ka-zinc-700: oklch(0.37 0.013 285.805);
    --ka-zinc-800: oklch(0.274 0.006 286.033);
    --ka-zinc-900: oklch(0.21 0.006 285.885);
    --ka-zinc-950: oklch(0.141 0.005 285.823);
    --ka-neutral-50: oklch(0.985 0 0);
    --ka-neutral-100: oklch(0.97 0 0);
    --ka-neutral-200: oklch(0.922 0 0);
    --ka-neutral-300: oklch(0.87 0 0);
    --ka-neutral-400: oklch(0.708 0 0);
    --ka-neutral-500: oklch(0.556 0 0);
    --ka-neutral-600: oklch(0.439 0 0);
    --ka-neutral-700: oklch(0.371 0 0);
    --ka-neutral-800: oklch(0.269 0 0);
    --ka-neutral-900: oklch(0.205 0 0);
    --ka-neutral-950: oklch(0.145 0 0);
    --ka-stone-50: oklch(0.985 0.001 106.423);
    --ka-stone-100: oklch(0.97 0.001 106.424);
    --ka-stone-200: oklch(0.923 0.003 48.717);
    --ka-stone-300: oklch(0.869 0.005 56.366);
    --ka-stone-400: oklch(0.709 0.01 56.259);
    --ka-stone-500: oklch(0.553 0.013 58.071);
    --ka-stone-600: oklch(0.444 0.011 73.639);
    --ka-stone-700: oklch(0.374 0.01 67.558);
    --ka-stone-800: oklch(0.268 0.007 34.298);
    --ka-stone-900: oklch(0.216 0.006 56.043);
    --ka-stone-950: oklch(0.147 0.004 49.25);
}

/*
    Default colors
*/

:root {
    --ka-default-light: var(--ka-slate-200);
    --ka-default: var(--ka-slate-300);
    --ka-default-dark: var(--ka-slate-400);
    --ka-default-contrast: #1a1a1a;
    --ka-primary-light: var(--ka-blue-500);
    --ka-primary: var(--ka-blue-600);
    --ka-primary-dark: var(--ka-blue-700);
    --ka-primary-contrast: #fafafa;
    --ka-secondary-light: var(--ka-fuchsia-500);
    --ka-secondary: var(--ka-fuchsia-600);
    --ka-secondary-dark: var(--ka-fuchsia-700);
    --ka-secondary-contrast: #fafafa;
    --ka-info-light: var(--ka-teal-500);
    --ka-info: var(--ka-teal-600);
    --ka-info-dark: var(--ka-teal-700);
    --ka-info-contrast: #fafafa;
    --ka-success-light: var(--ka-green-500);
    --ka-success: var(--ka-green-600);
    --ka-success-dark: var(--ka-green-700);
    --ka-success-contrast: #fafafa;
    --ka-warning-light: var(--ka-amber-500);
    --ka-warning: var(--ka-amber-600);
    --ka-warning-dark: var(--ka-amber-700);
    --ka-warning-contrast: #fafafa;
    --ka-danger-light: var(--ka-rose-500);
    --ka-danger: var(--ka-rose-600);
    --ka-danger-dark: var(--ka-rose-700);
    --ka-danger-contrast: #fafafa;
}

/*
    These colors are from custom created palette from Radix-ui
    Source: https://www.radix-ui.com/colors/custom

    Light:
        Gray: 8B8D98
        Background: FAFAFA
    Dark:
        Gray: 8B8D98
        Background: 1A1A1A
*/

:root {
    --ka-light-base-1: #f6f7f8;
    --ka-light-base-2: #f3f3f5;
    --ka-light-base-3: #e9eaed;
    --ka-light-base-4: #e1e1e6;
    --ka-light-base-5: #d9dae0;
    --ka-light-base-6: #d1d2d9;
    --ka-light-base-7: #c5c7cf;
    --ka-light-base-8: #b1b3bf;
    --ka-light-base-9: #848691;
    --ka-light-base-10: #797b86;
    --ka-light-base-11: #5b5d65;
    --ka-light-base-12: #1e1f24;
    --ka-light-base-a1: #2f629505;
    --ka-light-base-a2: #1b1b5b08;
    --ka-light-base-a3: #0a184212;
    --ka-light-base-a4: #0404351a;
    --ka-light-base-a5: #030a3722;
    --ka-light-base-a6: #0208322a;
    --ka-light-base-a7: #050e3337;
    --ka-light-base-a8: #0209324b;
    --ka-light-base-a9: #02061d79;
    --ka-light-base-a10: #00041a84;
    --ka-light-base-a11: #020511a3;
    --ka-light-base-a12: #010208e1;
    --ka-light-base-contrast: #FFFFFF;
    --ka-light-base-surface: #ffffffcc;
    --ka-light-base-indicator: #848691;
    --ka-light-base-track: #848691;
    --ka-dark-base-1: #191a1c;
    --ka-dark-base-2: #202123;
    --ka-dark-base-3: #29292c;
    --ka-dark-base-4: #2e2f33;
    --ka-dark-base-5: #34353a;
    --ka-dark-base-6: #3c3d43;
    --ka-dark-base-7: #484951;
    --ka-dark-base-8: #5f616b;
    --ka-dark-base-9: #6d6e79;
    --ka-dark-base-10: #7a7b86;
    --ka-dark-base-11: #b2b3bd;
    --ka-dark-base-12: #eeeef0;
    --ka-dark-base-a1: #001ac403;
    --ka-dark-base-a2: #a6bdeb0b;
    --ka-dark-base-a3: #d1d1f515;
    --ka-dark-base-a4: #d1dafe1c;
    --ka-dark-base-a5: #d3dafd24;
    --ka-dark-base-a6: #d7ddfe2e;
    --ka-dark-base-a7: #d7dcfc3e;
    --ka-dark-base-a8: #dbe1fd5b;
    --ka-dark-base-a9: #e2e5ff6a;
    --ka-dark-base-a10: #e4e6fd79;
    --ka-dark-base-a11: #eff1ffb6;
    --ka-dark-base-a12: #fcfcfeef;
    --ka-dark-base-contrast: #FFFFFF;
    --ka-dark-base-surface: rgba(0, 0, 0, 0.05);
    --ka-dark-base-indicator: #6d6e79;
    --ka-dark-base-track: #6d6e79;
}

:root, .light, .light-theme {
    --ka-base-1: var(--ka-light-base-1);
    --ka-base-2: var(--ka-light-base-2);
    --ka-base-3: var(--ka-light-base-3);
    --ka-base-4: var(--ka-light-base-4);
    --ka-base-5: var(--ka-light-base-5);
    --ka-base-6: var(--ka-light-base-6);
    --ka-base-7: var(--ka-light-base-7);
    --ka-base-8: var(--ka-light-base-8);
    --ka-base-9: var(--ka-light-base-9);
    --ka-base-10: var(--ka-light-base-10);
    --ka-base-11: var(--ka-light-base-11);
    --ka-base-12: var(--ka-light-base-12);
    --ka-base-a1: var(--ka-light-base-a1);
    --ka-base-a2: var(--ka-light-base-a2);
    --ka-base-a3: var(--ka-light-base-a3);
    --ka-base-a4: var(--ka-light-base-a4);
    --ka-base-a5: var(--ka-light-base-a5);
    --ka-base-a6: var(--ka-light-base-a6);
    --ka-base-a7: var(--ka-light-base-a7);
    --ka-base-a8: var(--ka-light-base-a8);
    --ka-base-a9: var(--ka-light-base-a9);
    --ka-base-a10: var(--ka-light-base-a10);
    --ka-base-a11: var(--ka-light-base-a11);
    --ka-base-a12: var(--ka-light-base-a12);
    --ka-base-contrast: var(--ka-light-base-contrast);
    --ka-base-surface: var(--ka-light-base-surface);
    --ka-base-indicator: var(--ka-light-base-indicator);
    --ka-base-track: var(--ka-light-base-track);
}

.dark, .dark-theme {
    --ka-base-1: var(--ka-dark-base-1);
    --ka-base-2: var(--ka-dark-base-2);
    --ka-base-3: var(--ka-dark-base-3);
    --ka-base-4: var(--ka-dark-base-4);
    --ka-base-5: var(--ka-dark-base-5);
    --ka-base-6: var(--ka-dark-base-6);
    --ka-base-7: var(--ka-dark-base-7);
    --ka-base-8: var(--ka-dark-base-8);
    --ka-base-9: var(--ka-dark-base-9);
    --ka-base-10: var(--ka-dark-base-10);
    --ka-base-11: var(--ka-dark-base-11);
    --ka-base-12: var(--ka-dark-base-12);
    --ka-base-a1: var(--ka-dark-base-a1);
    --ka-base-a2: var(--ka-dark-base-a2);
    --ka-base-a3: var(--ka-dark-base-a3);
    --ka-base-a4: var(--ka-dark-base-a4);
    --ka-base-a5: var(--ka-dark-base-a5);
    --ka-base-a6: var(--ka-dark-base-a6);
    --ka-base-a7: var(--ka-dark-base-a7);
    --ka-base-a8: var(--ka-dark-base-a8);
    --ka-base-a9: var(--ka-dark-base-a9);
    --ka-base-a10: var(--ka-dark-base-a10);
    --ka-base-a11: var(--ka-dark-base-a11);
    --ka-base-a12: var(--ka-dark-base-a12);
    --ka-base-contrast: var(--ka-dark-base-contrast);
    --ka-base-surface: var(--ka-dark-base-surface);
    --ka-base-indicator: var(--ka-dark-base-indicator);
    --ka-base-track: var(--ka-dark-base-track);
}


:root {
    /* Typography */
    --ka-fontFamily-base: system-ui, sans-serif;
    --ka-fontFamily-mono: ui-monospace, monospace;
    --ka-fontFamily-code: Consolas;
    --ka-fontSize-xxs: 0.625rem;
    --ka-fontSize-xs: 0.75rem;
    --ka-fontSize-sm: 0.875rem;
    --ka-fontSize-md: 1rem;
    --ka-fontSize-lg: 1.125rem;
    --ka-fontSize-xl: 1.25rem;
    --ka-fontSize-xxl: 1.375rem;
    --ka-fontWeight-thin: 300;
    --ka-fontWeight-normal: 400;
    --ka-fontWeight-bold: 600;
    --ka-fontWeight-thick: 700;
    --ka-lineHeight-one: 1;
    --ka-lineHeight-sm: 1.2;
    --ka-lineHeight-md: 1.5;
    --ka-lineHeight-lg: 1.8;
    /* Spacing */
    --ka-space-xs: 4px;
    --ka-space-sm: 8px;
    --ka-space-md: 12px;
    --ka-space-lg: 18px;
    --ka-space-xl: 24px;
    /* Border */
    --ka-borderWidth-thin: 1px;
    --ka-borderWidth-thick: 2px;
    --ka-borderRadius-sm: 4px;
    --ka-borderRadius-md: 8px;
    --ka-borderRadius-lg: 12px;
    --ka-borderRadius-full: 1000px;
    /* Elevation */
    --ka-boxShadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
    --ka-boxShadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
    --ka-boxShadow-lg: 0 10px 15px rgba(0, 0, 0, 0.15);
    /* Transition */
    --ka-transitionDuration-fast: 0.15s;
    --ka-transitionDuration-normal: 0.275s;
    --ka-transitionDuration-slow: 0.4s;
    /* z-index */
    --ka-zIndex-dropdown: 1000;
    --ka-zIndex-sticky: 1010;
    --ka-zIndex-fixed: 1020;
    --ka-zIndex-modal-backdrop: 1030;
    --ka-zIndex-modal: 1040;
    --ka-zIndex-popover: 1050;
    --ka-zIndex-tooltip: 1060;
}