p {
    --attributeColor: color-mix(in srgb, #23aeff 70%, var(--base-12));
    --valueColor: color-mix(in srgb, #ffa400 70%, var(--base-12));
    --htmlTagColor: color-mix(in srgb, #0082ff 70%, var(--base-12));
    --classColor: color-mix(in srgb, var(--accent-12) 70%, var(--base-12));
    --methodColor: color-mix(in srgb, #fcff00 70%, var(--base-12));
}

::deep .parameter {
    font-family: Consolas;
    color: var(--accent-12);
}

::deep .component {
    font-family: Consolas;
    font-weight: 700;
    color: var(--accent-12);
    background-color: var(--accent-2);
    padding: 0 0.25em;
    display: inline-block;
}

::deep a.reference {
    cursor: pointer;
}

    ::deep a.reference:hover {
        text-decoration: underline;
    }

    ::deep a.reference.reference-component {
        font-family: Consolas;
        font-weight: 700;
        display: inline-block;
    }

::deep .attribute {
    font-family: Consolas;
    font-weight: 300;
    color: var(--attributeColor);
}

::deep .value {
    font-family: Consolas;
    font-weight: 300;
    color: var(--valueColor);
}

::deep .htmltag {
    font-family: Consolas;
    font-weight: 300;
    color: var(--htmlTagColor);
}

::deep .class {
    font-family: Consolas;
    font-weight: 300;
    color: var(--classColor);
}

::deep .method {
    font-family: Consolas;
    font-weight: 300;
    color: var(--methodColor);
}