/* _content/kaarkadiusz.Komponenty/Basic/KAAlert.razor.rz.scp.css */
.kaAlert[b-cx6myzyslx] {
    --kaAlert-padding: var(--ka-space-md);
    --kaAlert-gap: var(--ka-space-sm) var(--ka-space-md);
    --kaAlert-fontSize: var(--ka-fontSize-sm);
    --kaAlert-color: var(--ka-base-12);
    --kaAlert-backgroundColorPercentage: 10%;
    --kaAlert-backgroundColor: color-mix(in srgb, var(--kaAlert-color) var(--kaAlert-backgroundColorPercentage), transparent);
    --kaAlert-borderColor: var(--kaAlert-color);
    --kaAlert-borderRadius: var(--ka-borderRadius-sm);
    --kaAlert-borderWidth: var(--ka-borderWidth-thin);
    --kaAlert-cursor: unset;
    --kaAlert-title-fontWeight: var(--ka-fontWeight-bold);
    --kaAlert-description-fontWeight: var(--ka-fontWeight-thin);
}

    .kaAlert.kaAlert-variantFilled[b-cx6myzyslx] {
        --kaAlert-backgroundColor: color-mix(in srgb, var(--kaAlert-color) var(--kaAlert-backgroundColorPercentage), transparent);
        --kaAlert-borderWidth: 0px;
    }

    .kaAlert.kaAlert-variantOutlined[b-cx6myzyslx] {
        --kaAlert-backgroundColor: color-mix(in srgb, var(--kaAlert-color) var(--kaAlert-backgroundColorPercentage), transparent);
        --kaAlert-borderWidth: var(--ka-borderWidth-thin);
    }

    .kaAlert.kaAlert-colorDefault[b-cx6myzyslx] {
        --kaAlert-color: var(--ka-base-12);
    }

    .kaAlert.kaAlert-colorPrimary[b-cx6myzyslx] {
        --kaAlert-color: var(--ka-primary);
    }

    .kaAlert.kaAlert-colorSecondary[b-cx6myzyslx] {
        --kaAlert-color: var(--ka-secondary);
    }

    .kaAlert.kaAlert-colorInfo[b-cx6myzyslx] {
        --kaAlert-color: var(--ka-info);
    }

    .kaAlert.kaAlert-colorSuccess[b-cx6myzyslx] {
        --kaAlert-color: var(--ka-success);
    }

    .kaAlert.kaAlert-colorWarning[b-cx6myzyslx] {
        --kaAlert-color: var(--ka-warning);
    }

    .kaAlert.kaAlert-colorDanger[b-cx6myzyslx] {
        --kaAlert-color: var(--ka-danger);
    }

    .kaAlert.kaAlert-clickable[b-cx6myzyslx] {
        --kaAlert-cursor: pointer;
    }

    .kaAlert.kaAlert-dense[b-cx6myzyslx] {
        --kaAlert-padding: var(--ka-space-xs) var(--ka-space-sm);
        --kaAlert-gap: 0 var(--ka-space-xs);
    }

.kaAlert[b-cx6myzyslx] {
    display: flex;
    padding: var(--kaAlert-padding);
    gap: var(--kaAlert-gap);
    border: var(--kaAlert-borderWidth) solid var(--kaAlert-borderColor);
    border-radius: var(--kaAlert-borderRadius);
    color: var(--kaAlert-color);
    background-color: var(--kaAlert-backgroundColor);
    align-items: start;
    cursor: var(--kaAlert-cursor);
}

    .kaAlert:has(.kaAlert-icon)[b-cx6myzyslx] {
        grid-template-columns: max-content 1fr;
    }

    .kaAlert.kaAlert-clickable:hover[b-cx6myzyslx] {
        --kaAlert-backgroundColorPercentage: 15%;
    }

.kaAlert-icon[b-cx6myzyslx] {
    margin-top: 1px;
    width: 1.25em;
    aspect-ratio: 1 / 1;
}

.kaAlert-content[b-cx6myzyslx] {
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    gap: var(--kaAlert-gap);
}

.kaAlert-title[b-cx6myzyslx] {
    font-weight: var(--kaAlert-title-fontWeight);
}

.kaAlert-description[b-cx6myzyslx] {
    font-weight: var(--kaAlert-description-fontWeight);
}

.kaAlert-close[b-cx6myzyslx] {

}
/* _content/kaarkadiusz.Komponenty/Basic/KAButton.razor.rz.scp.css */
.kompButton[b-z5xu4qit09] {
    --lightColor: var(--ka-default-light);
    --mainColor: var(--ka-default);
    --darkColor: var(--ka-default-dark);
    --contrastColor: var(--ka-default-contrast);
    --padding: var(--ka-space-sm) var(--ka-space-md);
    --textColor: var(--contrastColor);
    --backgroundColor: var(--lightColor);
    --hoverColor: var(--mainColor);
    --pressedColor: var(--darkColor);
    --borderColor: transparent;
    --borderWidth: var(--ka-borderWidth-thin);
    --borderRadius: var(--ka-borderRadius-sm);
    --border: var(--borderWidth) solid var(--borderColor);
    --boxShadow: var(--ka-boxShadow-sm);
    --fontSize: var(--ka-fontSize-md);
    --fontWeight: var(--ka-fontWeight-bold);
    --textTransform: uppercase;
}

    .kompButton.colorDefault[b-z5xu4qit09] {
        --lightColor: var(--ka-default-light);
        --mainColor: var(--ka-default);
        --darkColor: var(--ka-default-dark);
        --contrastColor: var(--ka-default-contrast);
    }

    .kompButton.colorPrimary[b-z5xu4qit09] {
        --lightColor: var(--ka-primary-light);
        --mainColor: var(--ka-primary);
        --darkColor: var(--ka-primary-dark);
        --contrastColor: var(--ka-primary-contrast);
    }

    .kompButton.colorSecondary[b-z5xu4qit09] {
        --lightColor: var(--ka-secondary-light);
        --mainColor: var(--ka-secondary);
        --darkColor: var(--ka-secondary-dark);
        --contrastColor: var(--ka-secondary-contrast);
    }

    .kompButton.colorInfo[b-z5xu4qit09] {
        --lightColor: var(--ka-info-light);
        --mainColor: var(--ka-info);
        --darkColor: var(--ka-info-dark);
        --contrastColor: var(--ka-info-contrast);
    }

    .kompButton.colorSuccess[b-z5xu4qit09] {
        --lightColor: var(--ka-success-light);
        --mainColor: var(--ka-success);
        --darkColor: var(--ka-success-dark);
        --contrastColor: var(--ka-success-contrast);
    }

    .kompButton.colorWarning[b-z5xu4qit09] {
        --lightColor: var(--ka-warning-light);
        --mainColor: var(--ka-warning);
        --darkColor: var(--ka-warning-dark);
        --contrastColor: var(--ka-warning-contrast);
    }

    .kompButton.colorDanger[b-z5xu4qit09] {
        --lightColor: var(--ka-danger-light);
        --mainColor: var(--ka-danger);
        --darkColor: var(--ka-danger-dark);
        --contrastColor: var(--ka-danger-contrast);
    }

    .kompButton.sizeSmall[b-z5xu4qit09] {
        --fontSize: var(--ka-fontSize-sm);
        --padding: var(--ka-space-xs) var(--ka-space-sm);
    }

    .kompButton.sizeMedium[b-z5xu4qit09] {
        --fontSize: var(--ka-fontSize-md);
        --padding: var(--ka-space-sm) var(--ka-space-md);
    }

    .kompButton.sizeLarge[b-z5xu4qit09] {
        --fontSize: var(--ka-fontSize-lg);
        --padding: var(--ka-space-md) var(--ka-space-lg);
    }

    .kompButton.typeFilled[b-z5xu4qit09] {
    }

    .kompButton.typeOutlined[b-z5xu4qit09] {
        --borderWidth: var(--ka-borderWidth-thin);
        --borderColor: var(--mainColor);
        --backgroundColor: transparent;
        --hoverColor: color-mix(in srgb, var(--mainColor) 20%, transparent);
        --pressedColor: color-mix(in srgb, var(--mainColor) 35%, transparent);
        --textColor: var(--mainColor);
    }

    .kompButton.typeTextOnly[b-z5xu4qit09] {
        --borderWidth: 0px;
        --borderColor: var(--mainColor);
        --backgroundColor: transparent;
        --hoverColor: color-mix(in srgb, var(--mainColor) 20%, transparent);
        --pressedColor: color-mix(in srgb, var(--mainColor) 35%, transparent);
        --textColor: var(--mainColor);
        --boxShadow: unset;
    }

.kompButton[b-z5xu4qit09] {
    border: var(--border);
    border-radius: var(--borderRadius);
    padding: var(--padding);
    color: var(--textColor);
    background-color: var(--backgroundColor);
    text-transform: var(--textTransform);
    box-shadow: var(--boxShadow);
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
    font-family: var(--ka-fontFamily-base);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--ka-space-xs);
    cursor: pointer;
    line-height: var(--ka-lineHeight-sm);
}

    .kompButton:hover[b-z5xu4qit09] {
        background-color: var(--hoverColor);
    }

    .kompButton:active[b-z5xu4qit09] {
        background-color: var(--pressedColor);
    }
/* _content/kaarkadiusz.Komponenty/Basic/KAButtonGroup.razor.rz.scp.css */
.kompButtonGroup[b-1xs87un37e] {
    --flexDirection: row;
}

    .kompButtonGroup.directionRow[b-1xs87un37e] {
        --flexDirection: row;
    }

    .kompButtonGroup.directionColumn[b-1xs87un37e] {
        --flexDirection: column;
    }

.kompButtonGroup[b-1xs87un37e] {
    display: inline-flex;
    flex-direction: var(--flexDirection);
}

    .kompButtonGroup[b-1xs87un37e] >  .kompButton:not(:first-of-type, :last-of-type) {
        border-radius: 0;
    }

    .kompButtonGroup.directionRow[b-1xs87un37e] >  .kompButton:first-of-type {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .kompButtonGroup.directionRow[b-1xs87un37e] >  .kompButton:last-of-type {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .kompButtonGroup.directionColumn[b-1xs87un37e] >  .kompButton:first-of-type {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .kompButtonGroup.directionColumn[b-1xs87un37e] >  .kompButton:last-of-type {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .kompButtonGroup[b-1xs87un37e] >  .kompButton:not(:last-of-type) {
        border-right-width: 0;
    }

    .kompButtonGroup.directionRow[b-1xs87un37e] >  .kompButton.typeTextOnly:not(:last-of-type) {
        border-right-width: var(--ka-borderWidth-thin);
    }

    .kompButtonGroup.directionColumn[b-1xs87un37e] >  .kompButton.typeTextOnly:not(:last-of-type) {
        border-bottom-width: var(--ka-borderWidth-thin);
    }
/* _content/kaarkadiusz.Komponenty/Basic/KAToggle.razor.rz.scp.css */
.ka-toggle[b-wqzbbwmts0] {
    --toggle-backgroundColor: var(--ka-base-3);
    --toggle-backgroundColor-contrast: var(--ka-base-contrast);
    --toggle-cursor: pointer;
    --toggle-spacing: var(--ka-space-xs);
    --valuelist-paddingBlock: calc(var(--toggle-spacing) / 2);
    --valuelist-paddingInline: calc(var(--toggle-spacing) / 2);
    --valuelist-height: calc(var(--toggle-size) - var(--toggle-spacing));
    --valuelist-width: auto;
    --valuelist-flexDirection: row;
    --option-width: var(--toggle-size);
    --option-height: unset;
    --indicator-index: 0;
    --indicator-size: calc(var(--toggle-size) - var(--toggle-spacing));
    --indicator-backgroundColor: var(--ka-primary);
    --indicator-translate: 0 -50%;
    --indicator-translation: calc(calc(calc(var(--indicator-index) * var(--toggle-size)) + calc(calc(var(--toggle-size) - var(--indicator-size)) / 2)) + var(--valuelist-paddingInline));
    --indicator-top: 50%;
    --indicator-left: var(--indicator-translation);
}

    .ka-toggle.ka-color-Default[b-wqzbbwmts0] {
        --toggle-backgroundColor: var(--ka-base-9);
        --indicator-backgroundColor: var(--ka-base-5);
        --toggle-backgroundColor-contrast: var(--ka-base-12);
    }

    .ka-toggle.ka-color-Primary[b-wqzbbwmts0] {
        --toggle-backgroundColor: var(--ka-primary-light);
        --indicator-backgroundColor: var(--ka-primary-dark);
        --toggle-backgroundColor-contrast: var(--ka-primary-contrast);
    }

    .ka-toggle.ka-color-Secondary[b-wqzbbwmts0] {
        --toggle-backgroundColor: var(--ka-secondary-light);
        --indicator-backgroundColor: var(--ka-secondary-dark);
        --toggle-backgroundColor-contrast: var(--ka-secondary-contrast);
    }

    .ka-toggle.ka-color-Info[b-wqzbbwmts0] {
        --toggle-backgroundColor: var(--ka-info-light);
        --indicator-backgroundColor: var(--ka-info-dark);
        --toggle-backgroundColor-contrast: var(--ka-info-contrast);
    }

    .ka-toggle.ka-color-Success[b-wqzbbwmts0] {
        --toggle-backgroundColor: var(--ka-success-light);
        --indicator-backgroundColor: var(--ka-success-dark);
        --toggle-backgroundColor-contrast: var(--ka-success-contrast);
    }

    .ka-toggle.ka-color-Warning[b-wqzbbwmts0] {
        --toggle-backgroundColor: var(--ka-warning-light);
        --indicator-backgroundColor: var(--ka-warning-dark);
        --toggle-backgroundColor-contrast: var(--ka-warning-contrast);
    }

    .ka-toggle.ka-color-Danger[b-wqzbbwmts0] {
        --toggle-backgroundColor: var(--ka-danger-light);
        --indicator-backgroundColor: var(--ka-danger-dark);
        --toggle-backgroundColor-contrast: var(--ka-danger-contrast);
    }

    .ka-toggle.ka-size-Small[b-wqzbbwmts0] {
        --toggle-size: 20px;
    }

    .ka-toggle.ka-size-Medium[b-wqzbbwmts0] {
        --toggle-size: 28px;
    }

    .ka-toggle.ka-size-Large[b-wqzbbwmts0] {
        --toggle-size: 36px;
    }

    .ka-toggle.ka-vertical[b-wqzbbwmts0] {
        --valuelist-flexDirection: column;
        --valuelist-height: auto;
        --valuelist-width: calc(var(--toggle-size) - var(--toggle-spacing));
        --option-height: var(--toggle-size);
        --indicator-translate: -50% 0;
        --indicator-top: var(--indicator-translation);
        --indicator-left: 50%;
    }

.ka-toggle[b-wqzbbwmts0] {
    all: unset;
    border: none;
    border-radius: var(--ka-borderRadius-full);
    background-color: var(--toggle-backgroundColor);
    color: var(--toggle-backgroundColor-contrast);
    display: inline-block;
    width: fit-content;
    line-height: var(--ka-lineHeight-one);
    cursor: var(--toggle-cursor);
    user-select: none;
}

.ka-toggle-valuelist[b-wqzbbwmts0] {
    display: inline-flex;
    flex-direction: var(--valuelist-flexDirection);
    height: var(--valuelist-height);
    overflow: hidden;
    border-radius: var(--ka-borderRadius-full);
    position: relative;
    line-height: var(--ka-lineHeight-sm);
    padding-block: var(--valuelist-paddingBlock);
    padding-inline: var(--valuelist-paddingInline);
}

.ka-toggle-option[b-wqzbbwmts0] {
    width: var(--option-width);
    height: var(--option-height);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: color-mix(in srgb, currentColor 50%, transparent);
}

.ka-toggle-indicator[b-wqzbbwmts0] {
    width: var(--indicator-size);
    height: var(--indicator-size);
    border-radius: var(--ka-borderRadius-full);
    position: absolute;
    left: var(--indicator-left);
    top: var(--indicator-top);
    translate: var(--indicator-translate);
    transition: left var(--ka-transitionDuration-fast) ease, top var(--ka-transitionDuration-fast) ease;
    background-color: var(--indicator-backgroundColor);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.ka-toggle-icon[b-wqzbbwmts0] {
    width: var(--indicator-size);
    height: var(--indicator-size);
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: 70%;
    place-content: center;
}
/* _content/kaarkadiusz.Komponenty/Icons/KAIcon.razor.rz.scp.css */
i[b-xef0l31fuo] {
    --fontSize: 1.25em;
    --minSize: 1em;
    --fontColor: inherit;
}

    i.sizeInherit[b-xef0l31fuo] {
        --fontSize: inherit;
    }

    i.sizeUnset[b-xef0l31fuo] {
        --fontSize: 1em;
        --minSize: unset;
    }

    i.sizeExtraSmall[b-xef0l31fuo] {
        --fontSize: 0.75em;
    }

    i.sizeSmall[b-xef0l31fuo] {
        --fontSize: 1em;
    }

    i.sizeMedium[b-xef0l31fuo] {
        --fontSize: 1.25em;
    }

    i.sizeLarge[b-xef0l31fuo] {
        --fontSize: 1.5em;
    }

    i.sizeExtraLarge[b-xef0l31fuo] {
        --fontSize: 1.75em;
    }

    button.colorDefault[b-xef0l31fuo] {
        --fontColor: inherit;
    }

    button.colorPrimary[b-xef0l31fuo] {
        --fontColor: var(--ka-primary);
    }

    button.colorSecondary[b-xef0l31fuo] {
        --fontColor: var(--ka-secondary);
    }

    button.colorInfo[b-xef0l31fuo] {
        --fontColor: var(--ka-info);
    }

    button.colorSuccess[b-xef0l31fuo] {
        --fontColor: var(--ka-success);
    }

    button.colorWarning[b-xef0l31fuo] {
        --fontColor: var(--ka-warning);
    }

    button.colorDanger[b-xef0l31fuo] {
        --fontColor: var(--ka-danger);
    }

i[b-xef0l31fuo] {
    font-style: inherit;
    display: inline-block;
    line-height: 0;
    font-size: var(--fontSize);
    color: var(--fontColor);
    min-width: var(--minSize);
    min-height: var(--minSize);
}

i > svg[b-xef0l31fuo] {
    color: inherit;
}
/* _content/kaarkadiusz.Komponenty/Inputs/KAInputBaseTemplate.razor.rz.scp.css */
.kompInputBaseTemplate[b-lqn95u3hti] {
    --borderRadius: 0;
    --helperTextColor: var(--ka-base-11);
    --backgroundColor: var(--ka-base-a3);
    --borderNormalColor: var(--ka-base-11);
    --borderSuccessColor: var(--ka-success);
    --borderWarningColor: var(--ka-warning);
    --borderErrorColor: var(--ka-danger);
    --borderWidth: var(--ka-borderWidth-thin);
    --borderColor: var(--borderNormalColor);
    --borderBase: var(--borderWidth) solid var(--borderColor);
    --borderTop: none;
    --borderRight: none;
    --borderBottom: var(--borderBase);
    --borderLeft: none;
    --resize: none;
}

    .kompInputBaseTemplate.typeFilled[b-lqn95u3hti] {
    }

    .kompInputBaseTemplate.typeOutlined[b-lqn95u3hti] {
        --borderRadius: var(--ka-borderRadius-sm);
        --borderTop: var(--borderBase);
        --borderRight: var(--borderBase);
        --borderBottom: var(--borderBase);
        --borderLeft: var(--borderBase);
    }

    .kompInputBaseTemplate.typeClear[b-lqn95u3hti] {
        --backgroundColor: transparent;
    }

    .kompInputBaseTemplate.validationInitial[b-lqn95u3hti] {
    }

    .kompInputBaseTemplate.validationSuccess[b-lqn95u3hti] {
        --borderColor: var(--borderSuccessColor);
    }

    .kompInputBaseTemplate.validationWarning[b-lqn95u3hti] {
        --borderColor: var(--borderWarningColor);
    }

    .kompInputBaseTemplate.validationError[b-lqn95u3hti] {
        --borderColor: var(--borderErrorColor);
    }

    .kompInputBaseTemplate.hasValidationMessage[b-lqn95u3hti] {
        --helperTextColor: var(--borderColor);
    }

    .kompInputBaseTemplate:has(:disabled)[b-lqn95u3hti] {
        --borderColor: color-mix(in srgb, var(--borderNormalColor) 70%, transparent);
    }

.kompInputBaseTemplate[b-lqn95u3hti] {
    display: inline-flex;
    flex-direction: column;
    min-width: min(100%, 20ch);
}

.kompInputWrap[b-lqn95u3hti] {
    display: inline-flex;
    background-color: var(--backgroundColor);
    border-radius: var(--borderRadius);
    border-color: var(--borderColor);
    border-top: var(--borderTop);
    border-right: var(--borderRight);
    border-bottom: var(--borderBottom);
    border-left: var(--borderLeft);
    resize: var(--resize);
}

    .kompInputWrap:not(:has(:is(:disabled, [readonly]))):is(:focus-within, :active)[b-lqn95u3hti] {
        border-color: var(--ka-primary);
    }

    .kompInputWrap:has(:disabled)[b-lqn95u3hti] {
        pointer-events: none;
        user-select: none;
        color: color-mix(in srgb, currentColor 70%, transparent);
    }

.adornment[b-lqn95u3hti] {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    pointer-events: none;
    margin: 0 var(--ka-space-xs);
}

label[b-lqn95u3hti] {
    font-size: 75%;
    color: var(--ka-base-12);
    word-break: break-word;
}

.helperText[b-lqn95u3hti] {
    font-size: 70%;
    color: var(--helperTextColor);
    word-break: break-word;
}

.kompInput[b-lqn95u3hti] {
    flex: 1 1 auto;
    display: inline-flex;
    gap: var(--ka-space-xs);
}

    .kompInput[b-lqn95u3hti]  :is(input, textarea, select) {
        background-color: unset;
        color: inherit;
        border: unset;
        outline: unset;
        font-size: var(--ka-fontSize-sm);
        font-family: var(--ka-fontFamily-base);
        padding: var(--ka-space-sm);
        box-sizing: border-box;
        width: 100%;
        line-height: var(--ka-lineHeight-md);
        min-width: min(100%, 20ch);
    }

    .kompInput[b-lqn95u3hti]  textarea {
        resize: none;
        scrollbar-width: thin;
        scrollbar-color: var(--ka-base-12) transparent;
    }

    .kompInput[b-lqn95u3hti]  input[type=number] {
        -moz-appearance: textfield;
    }

    .kompInput[b-lqn95u3hti]  input[type=number]::-webkit-outer-spin-button,
    .kompInput[b-lqn95u3hti]  input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
/* _content/kaarkadiusz.Komponenty/Inputs/KAInputCheckbox.razor.rz.scp.css */
.kompInputCheckboxWrap[b-6skpt1t6lv] {
    --color: var(--ka-base-12, currentColor);
    --helperTextColor: var(--ka-base-11);
    --hoverColor: color-mix(in srgb, var(--color) 15%, transparent);
    --pressedColor: color-mix(in srgb, var(--color) 30%, transparent);
}

    .kompInputCheckboxWrap.color-Primary[b-6skpt1t6lv] {
        --color: var(--ka-primary-light);
    }

    .kompInputCheckboxWrap.color-Secondary[b-6skpt1t6lv] {
        --color: var(--ka-secondary-light);
    }

    .kompInputCheckboxWrap.color-Info[b-6skpt1t6lv] {
        --color: var(--ka-info-light);
    }

    .kompInputCheckboxWrap.color-Success[b-6skpt1t6lv] {
        --color: var(--ka-success-light);
    }

    .kompInputCheckboxWrap.color-Warning[b-6skpt1t6lv] {
        --color: var(--ka-warning-light);
    }

    .kompInputCheckboxWrap.color-Danger[b-6skpt1t6lv] {
        --color: var(--ka-danger-light);
    }

    .kompInputCheckboxWrap.validation-Success[b-6skpt1t6lv] {
        --helperTextColor: var(--ka-success);
    }

    .kompInputCheckboxWrap.validation-Warning[b-6skpt1t6lv] {
        --helperTextColor: var(--ka-warning);
    }

    .kompInputCheckboxWrap.validation-Error[b-6skpt1t6lv] {
        --helperTextColor: var(--ka-danger);
    }

.kompInputCheckboxWrap[b-6skpt1t6lv] {
    display: flex;
    flex-direction: column;
}

.kompInputCheckbox[b-6skpt1t6lv] {
    display: inline-flex;
    gap: var(--ka-space-xs);
    align-items: center;
    line-height: var(--ka-lineHeight-md);
}

button[b-6skpt1t6lv] {
    color: var(--color);
    padding: var(--ka-space-xs);
    border-radius: var(--ka-borderRadius-sm);
    border: none;
    background-color: transparent;
    line-height: 0;
    cursor: pointer;
}

    button:hover[b-6skpt1t6lv] {
        background-color: var(--hoverColor);
    }

    button:active[b-6skpt1t6lv] {
        background-color: var(--pressedColor);
    }

label[b-6skpt1t6lv] {
    cursor: pointer;
}

.helperText[b-6skpt1t6lv] {
    font-size: var(--ka-fontSize-xs);
    color: var(--helperTextColor);
    word-break: break-word;
}
/* _content/kaarkadiusz.Komponenty/Inputs/KAInputDate.razor.rz.scp.css */
:root[b-jn9omm106j], .light[b-jn9omm106j], .light-theme[b-jn9omm106j] {
    --ka-inputdate-calendarPickerIndicator: invert(0);
}

.dark[b-jn9omm106j], .dark-theme[b-jn9omm106j] {
    --ka-inputdate-calendarPickerIndicator: invert(1);
}

input[b-jn9omm106j]::-webkit-calendar-picker-indicator {
    font-size: var(--ka-fontSize-xl);
    filter: var(--ka-inputdate-calendarPickerIndicator);
    cursor: pointer;
}
/* _content/kaarkadiusz.Komponenty/Inputs/KAInputNumber.razor.rz.scp.css */
input[b-it612nmcju] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

    input[b-it612nmcju]::-webkit-inner-spin-button {
        display: none;
    }

.spin-buttons[b-it612nmcju] {
    height: 100%;
    max-height: 64px;
    align-self: center;
    display: grid;
    grid-auto-rows: 1fr;
    width: 2em;
}

.spin-button[b-it612nmcju] {
    display: grid;
    place-content: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    color: var(--ka-base-12)
}

.spin-button:hover[b-it612nmcju] {
    background-color: var(--ka-base-a4);
}
/* _content/kaarkadiusz.Komponenty/Inputs/KAInputRadio.razor.rz.scp.css */
.kompInputRadio[b-b9fdukcaor] {
    --color: var(--ka-base-12, currentColor);
    --helperTextColor: var(--ka-base-11);
    --hoverColor: color-mix(in srgb, var(--color) 15%, transparent);
    --pressedColor: color-mix(in srgb, var(--color) 30%, transparent);
}

    .kompInputRadio.color-Primary[b-b9fdukcaor] {
        --color: var(--ka-primary-light);
    }

    .kompInputRadio.color-Secondary[b-b9fdukcaor] {
        --color: var(--ka-secondary-light);
    }

    .kompInputRadio.color-Info[b-b9fdukcaor] {
        --color: var(--ka-info-light);
    }

    .kompInputRadio.color-Success[b-b9fdukcaor] {
        --color: var(--ka-success-light);
    }

    .kompInputRadio.color-Warning[b-b9fdukcaor] {
        --color: var(--ka-warning-light);
    }

    .kompInputRadio.color-Danger[b-b9fdukcaor] {
        --color: var(--ka-danger-light);
    }

.kompInputRadio[b-b9fdukcaor] {
    display: inline-flex;
    gap: var(--ka-space-xs);
    align-items: center;
    line-height: var(--ka-lineHeight-md);
}

button[b-b9fdukcaor] {
    color: var(--color);
    padding: var(--ka-space-xs);
    border-radius: var(--ka-borderRadius-full);
    border: none;
    background-color: transparent;
    line-height: 0;
    cursor: pointer;
}

    button:hover[b-b9fdukcaor] {
        background-color: var(--hoverColor);
    }

    button:active[b-b9fdukcaor] {
        background-color: var(--pressedColor);
    }

label[b-b9fdukcaor] {
    cursor: pointer;
    display: inline-block;
}
/* _content/kaarkadiusz.Komponenty/Inputs/KAInputRadioGroup.razor.rz.scp.css */
.kompInputRadioGroupWrap[b-xsegohaq0g] {
    --helperTextColor: var(--ka-base-11);
    --flexDirection: row;
}

    .kompInputRadioGroupWrap.validation-Success[b-xsegohaq0g] {
        --helperTextColor: var(--ka-success);
    }

    .kompInputRadioGroupWrap.validation-Warning[b-xsegohaq0g] {
        --helperTextColor: var(--ka-warning);
    }

    .kompInputRadioGroupWrap.validation-Error[b-xsegohaq0g] {
        --helperTextColor: var(--ka-danger);
    }

    .kompInputRadioGroupWrap.direction-Row[b-xsegohaq0g] {
        --flexDirection: row;
    }

    .kompInputRadioGroupWrap.direction-Column[b-xsegohaq0g] {
        --flexDirection: column;
    }

.kompInputRadioGroupWrap[b-xsegohaq0g] {
    display: flex;
    flex-direction: column;
}

.kompInputRadioGroup[b-xsegohaq0g] {
    display: flex;
    flex-direction: var(--flexDirection);
}

.helperText[b-xsegohaq0g] {
    font-size: var(--ka-fontSize-xs);
    color: var(--helperTextColor);
    word-break: break-word;
}
/* _content/kaarkadiusz.Komponenty/Inputs/KAInputSelectOption.razor.rz.scp.css */
option[b-jjahwfcv8i] {
    background-color: var(--ka-base-1);
    color: var(--ka-base-12)
}
/* _content/kaarkadiusz.Komponenty/Inputs/KAInputTextArea.razor.rz.scp.css */
.textareafake[b-9tgadmgg19] {
    position: fixed;
    visibility: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    height: auto;
    top: 0;
    left: -9999px;
}
