@using Komponenty.Icons

<div class="themechanger">
    <button @onclick="() => ChangeTheme(Services.ThemeAgent.ThemeMode.Light)">
        <Komponenty.Icons.KAIcon IconSrc="@Preset.Outline.Sun" Color="Color.Default" Size="IconSize.Large"/>
    </button>
    <button @onclick="() => ChangeTheme(Services.ThemeAgent.ThemeMode.Dark)">
        <Komponenty.Icons.KAIcon IconSrc="@Preset.Fill.Moon" Color="Color.Default" Size="IconSize.Large"/>
    </button>
</div>

@code {

}
