@using Komponenty.Icons
@using static Piaskownica.Services.ThemeAgent

<div class="themechanger">
    <KAToggle T="ThemeMode" Value="Mode" ValueChanged="ChangeTheme" Color="Color.Default" IconFunc="IconFunc"  />
</div>

@code {

}
